@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    scroll-behavior: auto;
}

.secondary-title {
    @apply text-3xl font-bold;
}

.secondary-title::before {
    content: "";
    @apply block w-12 h-2 bg-theme rounded-full mb-1;
}

.secondary-paragraph {
    @apply text-secondary my-4 w-full max-w-3xl;
}

.badge {
    @apply px-4 py-2 text-sm bg-badge;
}

.secondary-head {
    @apply text-xl font-bold;
}

.button:hover {
    @apply text-purple-500;
}
